@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
/** Generated by FG **/
@font-face {
  font-family: "Big John";
  src: url("../fonts/BIG JOHN.eot");
  src: local("☺"), url("../fonts/BIG JOHN.woff") format("woff"), url("../fonts/BIG JOHN.ttf") format("truetype"), url("../fonts/BIG JOHN.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Open Sans", sans-serif;
  white-space: nowrap;
  overflow-x: hidden;
}

header {
  width: 100vw;
  max-height: 841px;
}

.background {
  background: url(../img/Layer_1.png) no-repeat;
  background-size: cover;
  background-position: center center;
  background: rgba(0, 0, 0, 0.5)/cover;
  width: 100vw;
  height: 766px;
}

.burger .logo__nav nav ul li {
  display: inline-flex;
  padding-left: 40px;
  position: relative;
  top: -720px;
  left: 40%;
  /* Style for "Rounded Re" */
  /* Style for "Hello" */
}
.burger .logo__nav nav ul li a {
  max-width: 80px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 12px;
}
.burger .logo__nav nav ul li .Hello {
  /* Style for "Rounded Re" */
  width: 80px;
  height: 33px;
  border-radius: 17px;
  border: 1px solid #ffffff;
  position: relative;
  padding-top: 10px;
  padding-left: 20px;
  width: 80px;
  height: 33px;
  border-radius: 17px;
  border: 1px solid #ffffff;
  margin-left: 60px;
}
span {
  color: #fff;
  font-family: "Big John";
  font-size: 25px;
  font-weight: 400;
  line-height: 12px;
  position: absolute;
  top: 30px;
  left: 90px;
}

.logo {
  position: absolute;
  top: 23px;
}
.logo span {
  position: relative;
}

.welocome {
  text-align: center;
  position: relative;
  top: 230px;
}
.welocome h1 {
  /* Style for "We Are Cod" */
  color: #fff;
  font-family: "Source Sans Pro";
  font-size: 35px;
  font-weight: 300;
  line-height: 70px;
  text-transform: uppercase;
  /* Text style for "We Are Cod" */
  letter-spacing: 7px;
}
.welocome p {
  /* Style for "At vero eo" */
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  /* Text style for "A, t vero" */
  letter-spacing: 0.8px;
}
.welocome p span {
  margin-top: 90px;
  text-align: center;
}

.btn_down {
  /* Style for "Ellipse 1" */
  width: 36px;
  height: 36px;
  background-color: #19bd9a;
  border-radius: 100%;
  position: relative;
  left: 49%;
  top: 200px;
  position: relative;
}

.btn_down img {
  width: 20px;
  margin-left: 10px;
  position: relative;
  right: 5px;
  top: 10px;
}

@media screen and (max-width: 1300px) {
  .logo__nav {
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-right: 400px;
  }
}
@media screen and (min-width: 1900px) {
  .logo {
    position: relative;
    top: 40px;
  }
  .logo span {
    font-size: 50px;
  }

  .background {
    height: 1200px;
  }

  .logo__nav {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 50px;
    margin-right: 500px;
  }

  .welocome {
    position: relative;
    top: 420px;
  }
  .welocome h1 {
    font-size: 60px;
    margin-bottom: 40px;
  }
  .welocome p {
    font-size: 26px;
  }

  .btn_down {
    position: relative;
    top: 450px;
    width: 66px;
    height: 66px;
  }
  .btn_down img {
    width: 40px;
    margin-left: 12px;
    padding-top: 7px;
  }
}
@media screen and (min-width: 2000px) {
  .logo {
    position: relative;
    top: 40px;
  }
  .logo span {
    font-size: 50px;
  }

  .background {
    height: 1200px;
  }

  .logo__nav {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 50px;
    margin-right: 500px;
  }

  .welocome {
    position: relative;
    top: 420px;
  }
  .welocome h1 {
    font-size: 60px;
    margin-bottom: 40px;
  }
  .welocome p {
    font-size: 26px;
  }

  .btn_down {
    position: relative;
    top: 450px;
    width: 66px;
    height: 66px;
  }
  .btn_down img {
    width: 40px;
    margin-left: 12px;
    padding-top: 7px;
  }
}
@media screen and (max-width: 1200px) {
  .logo .logo__nav nav ul li a {
    font-size: 15px;
  }
}
@media screen and (max-width: 1000px) {
  .burger .burger_line:before,
.burger .burger_line:after {
    content: " ";
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: #fff;
  }

  .burger .burger_line {
    position: absolute;
    top: 46px;
    right: 10vw;
  }

  .burger .burger_line:after {
    content: " ";
    margin-top: 15px;
  }

  .burger .burger_line span {
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: #fff;
    margin-top: 7.5px;
    left: 0;
    top: 0;
  }

  .logo__nav {
    display: none;
  }

  .content.active {
    width: 100%;
    height: 100%;
    filter: blur(10px);
  }

  .logo__nav.active {
    display: block;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    white-space: pre-wrap;
    position: relative;
    left: 16%;
  }
  .logo__nav.active nav ul li a {
    padding-bottom: 50px;
    text-align: center;
  }
  .logo__nav.active .Hello {
    position: absolute;
    bottom: 30px;
    right: 70px;
  }
}
@media screen and (max-width: 600px) {
  .background {
    width: 138%;
  }

  .burger .burger_line {
    position: absolute;
    top: 53px;
    right: -130px;
  }

  .welocome h1 {
    font-size: 30px;
  }
  .welocome p {
    font-size: 13px;
  }
}
@media screen and (max-width: 426px) {
  .background {
    width: 190%;
  }

  .logo__nav.active {
    display: block;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    white-space: pre-wrap;
    position: relative;
    top: 50px;
    left: 70%;
  }

  .burger .burger_line {
    position: absolute;
    top: 53px;
  }
}
