@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 140%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(84, 141, 196, 0.781);
  font-family: "Oswald", sans-serif;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.container {
  margin-left: 20%;
  font-size: 19px;
  margin-top: 30px;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
}

h1 {
  padding-bottom: 10px;
  display: flex;
}

.web {
  position: relative;
}

.F_B {
  font-weight: 400;
  margin-bottom: 20px;
}

.img {
  width: 450px;
  height: 300px;
}

p {
  font-weight: 300;
  margin-bottom: 10px;
  white-space: pre-wrap;
}

h2 {
  margin-bottom: 20px;
}

.S {
  margin-bottom: 20px;
  width: 500px;
}

.M {
  width: 500px;
}

.sm {
  width: 500px;
}